<div id="content-INTR" class="content-tab content-intro">
  <div class="flex-wrapper">
    <div class="intro-content">

      <div class="intro-stage">
        <div class="intro-stage-title stage-title">Astrolabe</div>
        <div class="intro-stage-text stage-text">
          The starting point for this research was the astrolabe. An ancient instrument used by Islamic astronomers from around 550 AD, the astrolabe was made up of elaborate sliding metal discs and pointers, which were aligned to celestial bodies in order to give answers to astronomical, astrological and religious questions. Later on, this early measuring device had its moment in European history. It proved invaluable in helping to propagate and teach Islamic geometry during The Renaissance, and then, during the European age of empires, it was instrumental in maritime “discovery” expeditions.

          {% include swipebox.html prefix="astro_" %}

          Recognizing the astrolabe as a network technology that connected humans to a larger network of agents (stars), its function was that of a translator for some of the important questions of its time: harvest dates, prayer times, tidal cycles. The human, the astrolabe and the stars had to come up with answers by performing a ritual together.

          {% include swipebox.html prefix="astro-use_" subclass="larger-thumbnail" %}

          In some ways the astrolabe foreshadowed today’s reality of smart objects and networked devices, combining the body, technology and environment, while being intricately intertwined with political systems and loci of power.
        </div>
      </div>

      <div class="intro-stage">
        <div class="intro-stage-title stage-title">Materialities</div>
        <div class="intro-stage-text stage-text">
          As an unexpected result of our ingenuity, we've filled the skies with enough artificial satellites that it's not inconceivable to think that they could be read like stars by other machines. Their orbit and purpose initially dictated by human politics and desires, can now be reinterpreted as a kind of dynamic poetry for nonhuman communication -- electromagnetic lines in search of other Others.
          <br><br>
          Given the complex relationships that humans have today with both “natural” systems (as exemplified by global warming, oil extraction, etc), and engineered systems (internet as surveillance, container shipping routes), it feels imperative to avoid the anthropocentric error of always measuring these articulations against the arbitrariness of human linguistic signs and meanings. As Bruno Latour would say, we can’t keep pretending to be modern, holding on to ideals of pure histories, sciences, politics and technology, while at the same time creating these hybrid “monsters” (or cyborgs). Shouldn’t we at least consider alternative modes of representation and communication where the divisions between human and non-human agents and natural and political bodies become less clear?
        </div>
      </div>

      <div class="intro-stage">
        <div class="intro-stage-title stage-title">Measuring</div>
        <div class="intro-stage-text stage-text">
          We can see that “technology” is never just about technology and in order not to be left out of these systems of knowledge and discourse that we create, we need to resensitise ourselves to these meshes of planetary reach and affect.
          <br><br>
          Feminist physicist Karen Barad has used insights from quantum physics to propose new materialities for objects, where measurements are agential practices and measuring devices “are not simply revelatory but performative: they help constitute and are a constitutive part of what is being measured”. One conclusion being that tools hold a special ontological place between matter and meaning, object and subject, nature and culture: tools are “world-making: matter and meaning do not pre-exist, but rather are co-constituted via intra-actions”.
          <br><br>
          This research looks into the complex networked relationships between humans, nonhumans and machines to find ways to sense data that makes no sense for humans, but whose interference can be felt: infrastructure, algorithmic left-overs, electromagnetic signals... We need ontological machines to explore and make explicit the complexities of these relationships, and create ways to make these interactions between humans, nature, culture, objects and networks a little more significantly felt.
          <br><br>
          Materially speaking, this research is about the sensitisation of objects and bodies and what makes them resonate. It also explores the possibility of language for revealing the desires, memories and inner conversations of objects and non-human phenomena. It’s an attempt to reach another kind of understanding about how they sense and shape their world, and, in turn, affect ours.

          {% include swipebox.html prefix="sketches_" subclass="larger-thumbnail" %}
        </div>
      </div>

    </div>
  </div>
</div>
