<div id="content-POSS" class="content-tab content-possibilities">
  <div class="flex-wrapper">
    <div class="possibilities-diagram-wrapper">
      <div class="possibilities-diagram"></div>
    </div>

    <div class="possibilities-content">

      <div class="possibilities-stage">
        <div class="possibilities-stage-title stage-title">Détournements</div>
        <div class="possibilities-stage-text stage-text">
          Measuring walks where readymade objects are used as antennas to investigate the electromagnetic environment.
        </div>
        {% include swipebox.html prefix="detournement_" subclass="larger-thumbnail" %}
        <div class="possibilities-stage-gallery-caption">
          Preliminary experiments done during residency at <a href="http://www.delfinafoundation.com/platform/thiago-hersan-reinterpreting-the-astrolabe/" target="_blank">Delfina Foundation</a> in London, January 2019.
        </div>
      </div>

      <div class="possibilities-stage">
        <div class="possibilities-stage-title stage-title">Antenna bodies || Body antennas</div>
        <div class="possibilities-stage-text stage-text">
          The process of transmitting and receiving electromagnetic signals is very physical: matter moves in rhythms syncopated by the speed of light and the dimensions of the materials it traverses. Antennas are designed with specific shapes and sizes optimized for particular types of transmissions and their corresponding frequencies.  For example, 2.4GHz WiFi signals are better picked up by antennas with lengths that are a multiple of 31.25mm.<br><br>

          In our world of embedded, pervasive, wearable technologies we are encompassed by such a variety of signals that we can think of this relationship from a different perspective: given different objects of specific shapes and sizes, what are the signals that reverberate with their bodies?<br><br>

          These wearable antennas are made of copper and brass pieces modeled after the shapes and sizes of body parts, sections, appendages, .... They are meant to be worn around the part of the body from which they were modeled, creating an additional connection between the original template body and that of the wearer.<br><br>

          Like the Astrolabe, these antennas suggest a more embodied form of navigating a network and exploring the relationships between humans, nature, culture and objects.
        </div>

        {% include swipebox.html prefix="collection-ri_" subclass="larger-thumbnail" %}
        <div class="possibilities-stage-gallery-caption">
          Relative Intensity Collection™: designed during residency at <a href="https://www.areholland.com/"target="_blank">ARE HOLLAND</a> in Enschede, January 2020.
        </div>

        <!--
        {% include swipebox.html prefix="collection-vw_" subclass="larger-thumbnail" %}
        <div class="possibilities-stage-gallery-caption">
          Visualizing Worlds Collection™: designed collectively and collaboratively during a workshop for the event <i>"Visualizações de Mundos"</i>, curated by <a href="http://buenozdiaz.net/" target="_blank">Cláudio Bueno</a> in São Paulo, September 2019.
        </div>
        <!-- -->
      </div>

      <div class="possibilities-stage">
        <div class="possibilities-stage-title stage-title">Algotypes</div>
        <div class="possibilities-stage-text stage-text">
          Objects that use different types of algorithms to manipulate, modify, and organize the surrounding electromagnetic environment.
        </div>
        <!---->
        {% include swipebox.html prefix="algotypes_" subclass="larger-thumbnail" %}
        <div class="possibilities-stage-gallery-caption"></div>
      </div>

    </div>
  </div>
</div>
