<div id="content-POSS" class="content-tab content-possibilities">
  <div class="flex-wrapper">
    <div class="possibilities-diagram-wrapper">
      <div class="possibilities-diagram"></div>
    </div>

    <div class="possibilities-content">

      <div class="possibilities-stage">
        <div class="possibilities-stage-title stage-title">Détournements</div>
        <div class="possibilities-stage-text stage-text">
          Measuring walks where readymade objects are used as antennas to investigate the electromagnetic dimension.
        </div>
        {% include swipebox.html prefix="detournement_" subclass="larger-thumbnail" %}
        <div class="possibilities-stage-gallery-caption">
          Preliminary experiments done during a residency at Delfina Foundation, London in 2019
        </div>
      </div>

      <div class="possibilities-stage">
        <div class="possibilities-stage-title stage-title">Antenna bodies / Body antennas</div>
        <div class="possibilities-stage-text stage-text">
          Creation of different antennas based on body shapes. The idea is to understand how different bodies and shapes can navigate the electromagnetic spectrum.
        </div>
        {% include swipebox.html prefix="bodyantenna_" subclass="larger-thumbnail" %}
        <div class="possibilities-stage-gallery-caption">
          Workshop done during the event <i>"Visualizações de Mundos"</i> (Visualizing Worlds), curated by Cláudio Bueno.
        </div>
      </div>

      <div class="possibilities-stage">
        <div class="possibilities-stage-title stage-title">Accumulators</div>
        <div class="possibilities-stage-text stage-text">
          Orgone-generator-inspired objects that use different types of algorithms to manipulate, modify, and organize the surrounding electromagnetic environment.
        </div>
        {% include swipebox.html prefix="accumulators_" subclass="larger-thumbnail" %}
        <div class="possibilities-stage-gallery-caption"></div>
      </div>

      <div class="possibilities-stage">
        <div class="possibilities-stage-title stage-title">Cartographies</div>
        <div class="possibilities-stage-text stage-text">
          Different ways of sensing and sensualizing data that makes no sense to humans: graphs, drawings and diagrams for analyzing electromagnetic and geographic data.
        </div>
        {% include swipebox.html prefix="cartography_" subclass="larger-thumbnail" %}
        <div class="possibilities-stage-gallery-caption"></div>
      </div>
    </div>
  </div>
</div>
