<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    <section class="header">
      <div class="site-title">
        {{ site.title }}
      </div>

      <div id="menu-desktop" class="menu">
        <div class="menu-option" data-menu-tag="INTR">INTRODUCTION</div>
        <div class="menu-option" data-menu-tag="REFS">REFERENCES</div>
        <div class="menu-option" data-menu-tag="POSS">POSSIBILITIES</div>
        <div class="menu-option selected" data-menu-tag="READ">READINGS</div>
      </div>

      <div id="menu-mobile" class="menu">
        <div class="menu-option" data-menu-tag="INTR">INTRO</div>
        <div class="menu-option" data-menu-tag="REFS">REFS</div>
        <div class="menu-option" data-menu-tag="POSS">POSSIBILITIES</div>
        <div class="menu-option selected" data-menu-tag="READ">READS</div>
      </div>
    </section>

    <div class="content-wrapper">
      <div class="home-loader-wrapper">
        <div id="home-loader" class="lds-dual-ring"></div>
      </div>

      <section class="content">
        {% include introduction.html %}
        {% include references.html %}
        {% include possibilities.html %}
        {% include readings.html %}
      </section>

      <section class="social-footer">
        {% include social-icons.html %}
      </section>
    </div>
  </body>
</html>
